/******
spacecadet theme
*******/

/*-------- Google font imports --------*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Roboto+Mono);


/*-------- Background color & body font --------*/
body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12;
}

/* Emphasis (e.g. italics) */
em {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/*-------- Main Panel ---------*/
.topics {
    width: 75%;
    overflow-x: auto;
    padding-bottom: 600px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #313131;
}

/*--------- Headers ---------*/

h2 {
  color:#8aff35;
  font-family: 'Orbitron', sans-serif;
}

h3 {
  color: #d321ff;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  color: #adadad;
  font-family: 'Open Sans', sans-serif;
}

h5 {
    color: #8600a1;
    background-color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*-------- Code chunk header panel ---------*/
.panel-default > .panel-heading {
    color: white;
    background-color: #929292;
    border: 0;
}

/*-------- Code chunk main panel --------*/

.ace-tm {
    background-color: #ececec;
    color: black;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}


/*------- In line code aesthetic --------*/
code {
    font-family: 'Roboto Mono', monospace;
    color:#8aff35;
    background-color: #646464;
    font-size: 12px;
}

/*-------- Line # cells --------*/

.ace_gutter-cell {
    padding-left: 19px;
    padding-right: 6px;
    background-repeat: no-repeat;
    background-color: #646464;
    color: white;
}

/*-------- Code returns --------*/
.tutorial-exercise-output > pre {
    max-height: 500px;
    overflow-y: auto;
    background-color: #646464;
    color: white;
}

/*------- Hyperlinks --------*/
a {
    font-family: 'Open Sans', sans-serif;
    color: #929292;
    text-decoration: none;
}

a:hover {
    font-family: 'Open Sans', sans-serif;
    color: #dd43ff;
    text-decoration: underline;
}

/*------- Rectangle panel behind code chunk --------*/
.panel, pre {
    border-radius: 0;
    border-color: #e0e0e0;
    background-color: #929292;
    border: 0px;
}

/*------- Main menu -------*/
.topicsList .topic {
    font-family: 'Open Sans', sans-serif;
    color: #8aff35;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 2px 80px;
    background-position: left 100%;
        background-position-y: 100%;
    background-image: url(images/topicProgress.png);
    border: 0;
    -webkit-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

/*------- Selected menu item -------*/
.topicsList .topic.current {
    font-family: 'Open Sans', sans-serif;
    background-color: #af00ca;
    color: #8aff35;
    border: 0;
}
/*--- When hovering ---*/
.topicsList .topic:hover {
    background-color: #af00ca;
}

/*------- Solution / Hint buttons -------*/
.tutorial-exercise-input .btn-tutorial-solution {
    margin-left: 15px;
    background-color: #646464;
    color: #8aff35;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

/*------- Buttons -------*/

.btn-primary, .btn-success, .btn-info {
    color: #8aff35;
    background-color: #646464;
    background-image: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

/*------- Buttons when hovering -------*/
.btn-default:hover, btn-success:hover, btn-info:hover, btn-primary:hover {
  background-color: #af00ca;
  color: #8aff35;
  font-family: 'Open Sans', sans-serif;
}

/*-------- Code chunk buttons hover aesthetic -------*/
.tutorial-exercise-input .btn-xs:hover {
    margin-right: 0;
    margin-top: -1px;
    font-size: 11px;
    margin-left: 12px;
    padding-right: 8px;
    font-weight: normal;
    background-color: #af00ca;
    color: #8aff35;
}

/*------- Button disabled -------*/
.btn-primary.disabled {
    color: #c8c8c8;
    background-color: #5a5a5a;
    background-image: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

/*------- Button disabled -------*/
.btn-default {
    color: #8aff35;
    background-color: #646464;
    background-image: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #8aff35;
    background-color: #646464;
    background-image: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

/*------- Update Next Section button -------*/
.topicActions .btn-primary:hover {
    color: #8aff35;
    background-color: #af00ca;
    background-image: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}
