/******
thistle
*******/

/*-------- Google font imports --------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*-------- Background color & body font --------*/
body {
  background-color: linen;
  font-family: 'Source Sans Pro', sans-serif;
  color: #757e8c;
}


/*-------- Main Panel ---------*/
.topics {
    width: 75%;
    overflow-x: auto;
    padding-bottom: 600px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: antiquewhite;
    border-left: 3px solid thistle;
    border-right: 0;
}

/*------- padding sides --------*/
.band {
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

/* Emphasis */
em {
    font-family: 'DM Serif Text', serif;
    color: lightslategray;
}

/*--------- Headers ---------*/

p {
  font-size: 14px;
}

h2 {
  color: #757e8c;
  font-family: 'DM Serif Text', serif;
}

h3 {
  color: #757e8c;
  font-family: 'DM Serif Text', serif;
}

h4 {
  color: #757e8c;
  font-family: 'DM Serif Text', serif;
}

h5 {
    color: #757e8c;
    font-family: 'DM Serif Text', serif;
    font-size: 16px;
}

/* Tutorial start over button */
.topicsFooter .resetButton {
    padding-left: 10px;
    font-size: 14px;
    cursor: pointer;
    opacity: .7;
}

/*-------- Code chunk header panel ---------*/
.panel-default > .panel-heading {
    color: lightslategray;
    background-color: thistle;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
}

/*------- Rectangle panels --------*/
.panel, pre {
    border-radius: 0;
    background-color: thistle;
    border: 0;
    font-size: 16px;
}


/*-------- Code chunk main panel --------*/

.ace-tm {
    background-color: linen;
    color: darkslategray;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

/*-------- Line # cells --------*/

.ace_gutter-cell {
    padding-left: 10px;
    padding-right: 4px;
    background-repeat: no-repeat;
    background-color: linen;
    border-right: 4px solid antiquewhite;
    color: lightslategray;
}

/*-------- Code returns --------*/
.tutorial-exercise-output > pre {
    max-height: 500px;
    overflow-y: auto;
    background-color: white;
    color: #3f3f3f;
    font-family: 'Roboto Mono', monospace;
}


/*------- In line code aesthetic --------*/
code {
    font-family: 'Roboto Mono', monospace;
    color: lightslategray;
    background-color: linen;
    font-size: 14px;
    border-radius: 0;
}

/*------- Hyperlinks --------*/
a {
    font-family: 'DM Serif Text', serif;
    color: rosybrown;
    text-decoration: none;
}

a:hover, a:focus {
    color: rosybrown;
    text-decoration: underline;
}

/*------- Main menu -------*/
.topicsList .topic {
    font-family: 'DM Serif Text', serif;
    color: #757e8c;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
    background-color: none;
    background-repeat: no-repeat;
    background-size: 2px 80px;
    background-position: left 100%;
    background-image: url(images/topicProgress.png);
    border-bottom: 2px solid antiquewhite;
    border-top: 0;
    -webkit-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

/*------- Selected menu item -------*/
.topicsList .topic.current {
    font-family: 'DM Serif Text', serif;
    background-color: thistle;
    color: #757e8c;
    border: 0;
}
/*--- When hovering ---*/
.topicsList .topic:hover {
    background-color: antiquewhite;
    color: lightslategray;
}

/*------- Solution / Hint buttons -------*/
.tutorial-exercise-input .btn-tutorial-solution {
    margin-left: 15px;
    background-color: rosybrown;
    color: linen;
    font-family: 'DM Serif Text', serif;
    font-size: 13px;
    border: 0;
    text-shadow: none;
}

/*------- Solution popover --------*/
.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: rosybrown;
    border-bottom: 1px solid linen;
    border-radius: 5px 5px 0 0;
    color: linen;
    text-shadow: none;
    font-family: 'DM Serif Text', serif;
}

/*------- Buttons -------*/

.btn-primary, .btn-success, .btn-info, .btn-xs, .btn-default {
    color: linen;
    background-color: rosybrown;
    background-image: none;
    border: 0;
    font-family: 'DM Serif Text', serif;
    font-size: 15px;
    text-shadow: none;
}

/*------- Buttons when hovering -------*/
.btn-default:hover, btn-success:hover, btn-info:hover, btn-primary:hover {
  background-color: #E9967A;
  color: linen;
  font-family: 'DM Serif Text', serif;
}

/*-------- Code chunk buttons hover aesthetic -------*/

.tutorial-exercise-input .btn-xs{
    font-size: 13px;
}

.tutorial-exercise-input .btn-xs:hover {
    margin-right: 0;
    margin-top: -1px;
    font-size: 13px;
    margin-left: 12px;
    padding-right: 8px;
    font-weight: normal;
    background-color: #E9967A;
    color: linen;
    border: 0;
}

/*------- Button disabled -------*/
.btn-primary.disabled {
    color: white;
    background-color: lightgray;
    background-image: none;
    border: none;
    font-family: 'DM Serif Text', serif;
    font-size: 13px;
}

/*------- Update Next Section button -------*/
.topicActions .btn-primary:hover {
    color: linen;
    background-color: #E9967A;
    background-image: none;
    border: none;
    font-family: 'DM Serif Text', serif;
}

/*-------- Answer alert --------*/
.alert-success {
    background-color: #E9967A;
    border: 0;
    color: white;
}
.alert-danger {
    background-color: #757e8c;
    border: 0;
    color: white;
}

